<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upc.com.pe.trabajo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="Inventario" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OptionsActivity"
            android:label="@string/title_activity_opciones" >
        </activity>
        <activity
            android:name=".activities.LaboriatoriesActivity"
            android:label="@string/title_activity_laboriatories" >
        </activity>
        <activity
            android:name=".activities.ComputersActivity"
            android:label="@string/title_activity_computers" >
        </activity>
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".activities.MotherboardActivity"
            android:label="@string/title_activity_motherboard" >
        </activity>
        <activity
            android:name=".activities.EditMotherboardActivity"
            android:label="@string/title_activity_edit_motherboard" >
        </activity>
        <activity
            android:name=".activities.ExternalActivity"
            android:label="@string/title_activity_external" >
        </activity>
        <activity
            android:name=".activities.EditExternalActivity"
            android:label="@string/title_activity_edit_external" >
        </activity>
        <activity
            android:name=".activities.ComponentsActivity"
            android:label="@string/title_activity_components" >
        </activity>
    </application>

</manifest>
